@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css';
@import 'leaflet-defaulticon-compatibility';


html,
body {
    height: 100%;
    margin: 0;
}

#main {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "sidebar content content"
        "sidebar footer footer";
    grid-template-columns: 1fr 9fr;
    grid-template-rows: auto 1fr 1fr auto;
    min-height: 100vh;
}

#content {
    grid-area: content;
    overflow-y: auto;
    padding-top: 96px; 
    padding-bottom: 20px;
}

#header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50; 
}

#aside {
    grid-area: sidebar;
    position: fixed;
    top: 96px; /* Ajusta esto según la altura de tu header (h-24 = 96px) */
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 40;
}

#footer {
    grid-area: footer;
}
